$font-weight-light: 400;
$font-weight-normal: 500;
$font-weight-bold: 700;
$font-weight-extra-bold: 900;

.fw-light {
  font-weight: $font-weight-light;
}
.fw-normal {
  font-weight: $font-weight-normal;
}
.fw-bold {
  font-weight: $font-weight-bold;
}
.fw-extra-bold {
  font-weight: $font-weight-extra-bold;
}
