$font-weight-light: 400;
$font-weight-normal: 500;
$font-weight-bold: 700;
$font-weight-extra-bold: 900;

.fw-300 {
  font-weight: $font-weight-light;
}
.fw-500 {
  font-weight: $font-weight-normal;
}
.fw-700 {
  font-weight: $font-weight-bold;
}
.fw-900 {
  font-weight: $font-weight-extra-bold;
}
