@import "../colors.scss";

// Primary

.fc-p {
  color: $primary;
}

.fc-pl {
  color: $primary-light;
}

.fc-pd {
  color: $primary-dark;
}

// Secondary

.fc-s {
  color: $secondary;
}

.fc-sl {
  color: $secondary-light;
}

.fc-sd {
  color: $secondary-dark;
}

// Black

.fc-b {
  color: $black;
}

.fc-bl {
  color: $black-light;
}

.fc-bll {
  color: $black-lighter;
}

// White

.fc-w {
  color: $white;
}

.fc-wl {
  color: $white-dark;
}

.fc-wll {
  color: $white-darker;
}

// Gray

.fc-g {
  color: $gray;
}

.fc-gl1 {
  color: $gray-l1;
}

.fc-gl2 {
  color: $gray-l2;
}

.fc-gl3 {
  color: $gray-l3;
}
