@import "./font-weights.scss";

$body-b-size-mobile: 14px;
$body-b-lh-mobile: 18px;
$body-b-size-desk: 16px;
$body-b-lh-desk: 20px;

.body-b {
  font-size: $body-b-size-mobile;
  line-height: $body-b-lh-mobile;

  @media (min-width: 1151.98px) {
    font-size: $body-b-size-desk;
    line-height: $body-b-lh-desk;
  }
}

.body-bl {
  font-size: $body-b-size-mobile;
  line-height: $body-b-lh-mobile;
  font-weight: $font-weight-light;

  @media (min-width: 1151.98px) {
    font-size: $body-b-size-desk;
    line-height: $body-b-lh-desk;
  }
}

.body-bb {
  font-size: $body-b-size-mobile;
  line-height: $body-b-lh-mobile;
  font-weight: $font-weight-bold;

  @media (min-width: 1151.98px) {
    font-size: $body-b-size-desk;
    line-height: $body-b-lh-desk;
  }
}
