@import "./font-weights.scss";

$body-i-size-mobile: 10px;
$body-i-lh-mobile: 14px;
$body-i-size-desk: 12px;
$body-i-lh-desk: 16px;

.body-i {
  font-size: $body-i-size-mobile;
  line-height: $body-i-lh-mobile;

  @media (min-width: 1151.98px) {
    font-size: $body-i-size-desk;
    line-height: $body-i-lh-desk;
  }
}

.body-il {
  font-size: $body-i-size-mobile;
  line-height: $body-i-lh-mobile;
  font-weight: font-weight-light;

  @media (min-width: 1151.98px) {
    font-size: $body-i-size-desk;
    line-height: $body-i-lh-desk;
  }
}

.body-ib {
  font-size: $body-i-size-mobile;
  line-height: $body-i-lh-mobile;
  font-weight: font-weight-bold;

  @media (min-width: 1151.98px) {
    font-size: $body-i-size-desk;
    line-height: $body-i-lh-desk;
  }
}
