@import "../../../../../../styles/colors.scss";

.navbarBg {
  z-index: 22;
  position: fixed;
  top: 0;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 92px;

  background-color: $whiteZF;
  backdrop-filter: blur(20px);
}
