$primary: #302f4d;
$primary-light: #5a5879;
$primary-dark: #0a0525;

$secondary: #f00280;
$secondary-light: #ff5aaf;
$secondary-dark: #b70054;

$black: #222222;
$black-light: #2c2c2c;
$black-lighter: #3a3a3a;

$white: #ffffff;
$whiteZF: rgba(255, 255, 255, 0.5);
$white-dark: #fcfcff;
$white-darker: #f4f4fb;

$gray: #818181;
$gray-l1: #c4c4c4;
$gray-l2: #dcdcdc;
$gray-l3: #f4f4fb;
